$primary-color: #31C3BD;
$primary-color-hover: #65E9E4;
$secondary-color: #F2B137;
$secondary-color-hover: #FFC860;
$tertiary-color:#A8BFC9;
$tertiary-color-hover:#DBE8ED;
$background-color-primary: #1A2A33;
$background-color-secondary: #1F3641;
$font-family: 'Outfit',
sans-serif;
@mixin box-shadow($color, $bottom) {
    box-shadow: 0px $bottom 0px 0px rgba($color, .7);
  }
