@use "../../style/base" as *;

.gameMenu-wrapper {
    // min-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .auth-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: $background-color-secondary;
        padding: 40px 20px;
        border-radius: 8px;
        @include box-shadow($shadow-color-dark, 8px);

        .input-wrapper{
            display: flex;
            flex-direction: column;
            gap: 10px;
            label {
                align-self: flex-start;
                font-size: 1.2rem;
                &:nth-of-type(1) {
                    color: $primary-color;
                }
                &:nth-of-type(2) {
                    color: $secondary-color;
                }
            }
            input {
                padding: 1rem;
                background-color: #fff;
                border: none;
                border-radius: 5px;
                font-size: 1rem;
            }
            div {
                position: relative;
                .eye-icon {
                    color: $secondary-color;
                    cursor: pointer;
                    position: absolute;
                    top: 25%;
                    right: 15px;
                }
            }
        }
        .title, .footer {
            text-transform: uppercase;
            color: $tertiary-color-hover;
            letter-spacing: 1px;
        }
        .footer {
            font-size: 15px;
            font-weight: 400;
            color: rgba($color: $tertiary-color, $alpha: 0.3)
        }
       .auth-button {
            width: 100%;
            padding: 15px;
            margin-top: 15px;
            text-transform: uppercase;
            letter-spacing: 1px;
            cursor: pointer;
            border-radius: 8px;
            border: none;
            background-color: $tertiary-color;
            @include box-shadow($tertiary-color, 6px);
            &:hover {
                background-color: $tertiary-color-hover;
            }
       }
    }

    .gameMenuButtons-wrapper{
        button {
            width: 100%;
            padding: 15px;
            text-transform: uppercase;
            letter-spacing: 1px;
            cursor: pointer;
            border-radius: 8px;
            border: none;
            &.new-game-cpu {
                background-color: $secondary-color;
                @include box-shadow($secondary-color, 6px);
                border: none;
                margin-bottom: 20px;
                border-radius: 8px;
                &:hover {
                    background-color: $secondary-color-hover;
                }
            }
            &.new-game-player {
                background-color: $primary-color;
                @include box-shadow($primary-color, 6px);
                border: none;
                margin-bottom: 20px;
                
                &:hover {
                    background-color: $primary-color-hover;
                }
            }
        }
    }


}